
:root {
  --wgreen: #247E72;
  --wnude: #EFBEA7;
  --wlightgr: #2A9D8F;
  --wgray: #F4EFE9;
  --wbeige: #DDCCB7;
}

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
